.info{
  display: flex;
  align-items: center;
}
.info2{
  padding-left: 5px;
}
ion-content{
  --ion-background-color: #9ce0c6;
}

ion-title{
  font-size:30px;;
}
.conteudo{
  width: 97%;
  height: 100%;
  margin: auto;
  border-radius: 30px;
}
ion-fab-button{
  --background:#9ce0c6;
}
