<ion-header style="background-color: #9ce0c6; padding-top: 10px;">

  <ion-toolbar style="display:flex;">
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" style="zoom:1.8;" (click)="irParaHome()"></ion-icon>
    </ion-buttons>
    <ion-title style="background-color: #9ce0c6;color: white;">Cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo" style="background-color: white; border-radius:50px 50px 0px 0px">
    <ion-list style=" border-radius:50px 50px 0px 0px">
      <form [formGroup]="form_cadastrar" (ngSubmit)="submitForm()">
        <ion-item>
          <ion-label>Nome: </ion-label>
          <ion-input placeholder="Nome da disciplina" formControlName="nome"></ion-input>
        </ion-item>
        <ion-item *ngIf="(((errorControl.nome.touched)||(errorControl.nome.dirty))&& errorControl.nome.errors)">
          <span *ngIf="errorControl.nome.errors?.required">
            Nome é obrigatório!
          </span>
        </ion-item>

        <ion-item>
          <ion-label>Professor: </ion-label>
          <ion-input placeholder="Professor responsável" formControlName="professor"></ion-input>
        </ion-item>
        <ion-item
          *ngIf="(((errorControl.professor.touched)||(errorControl.professor.dirty))&& errorControl.professor.errors)">
          <span *ngIf="errorControl.professor.errors?.required">
            Professor é obrigatório!
          </span>
        </ion-item>

        <ion-item>
          <ion-label>Carga Horaria: </ion-label>
          <ion-input placeholder="Carga horária" formControlName="cargaHoraria"></ion-input>
        </ion-item>
        <ion-item
          *ngIf="(((errorControl.cargaHoraria.touched)||(errorControl.cargaHoraria.dirty))&& errorControl.cargaHoraria.errors)">
          <span *ngIf="errorControl.cargaHoraria.errors?.required">
            Carga Horaria é obrigatório!
          </span>
        </ion-item>

        <ion-item>
          <ion-label>Natureza: </ion-label>
          <ion-select placeholder="Selecione a Natureza" formControlName="natureza">
            <ion-select-option value="obrigatoria">Obrigatória</ion-select-option>
            <ion-select-option value="optativa">Optativa</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item
          *ngIf="(((errorControl.natureza.touched)||(errorControl.natureza.dirty))&& errorControl.natureza.errors)">
          <span *ngIf="errorControl.natureza.errors?.required">
            Natureza é obrigatório!
          </span>
        </ion-item>

        <ion-item>
          <ion-label>Data de Início: </ion-label>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime" presentation="date" formControlName="dataInicio">
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>

        <ion-item>
          <ion-label>Data de Término: </ion-label>
          <ion-datetime-button datetime="datetime2"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime2" presentation="date" formControlName="dataFim">
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>

        <ion-item>
          <ion-label>Quantidade de vagas: </ion-label>
          <ion-input placeholder="Vagas" formControlName="vagas"></ion-input>
        </ion-item>
        <ion-item *ngIf="(((errorControl.vagas.touched)||(errorControl.vagas.dirty))&& errorControl.vagas.errors)">
          <span *ngIf="errorControl.vagas.errors?.required">
            Vagas é obrigatório!
          </span>
        </ion-item>

        <ion-radio-group value="online" formControlName="modalidade" disabled="{{edicao}}">
          <ion-label>Modalidade: </ion-label>
          <ion-item>
            <ion-label>Online</ion-label>
            <ion-radio slot="start" color="success" value="online"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Presencial</ion-label>
            <ion-radio slot="start" color="tertiary" value="presencial"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Híbrido</ion-label>
            <ion-radio slot="start" color="danger" value="hibrido"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-item>
          <ion-button  size="small" style="height: 40px;" shape="round">
            <input type="file" formControlName="imagem" (change)="uploadFile($event.target)" />
          </ion-button>
        </ion-item>
        <br>

        <ion-button expand="block" type="submit">Cadastrar</ion-button>

      </form>
    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="irParaHome()">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>