<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list-header>
    <ion-label>Disciplina</ion-label>
  </ion-list-header>
  
  <ion-list>
    <ion-label>Nome</ion-label>
    <form [formGroup]="form_cadastrar" (ngSubmit)="submitForm()">
      <ion-item>
        <ion-input placeholder="Nome" formControlName="nome"></ion-input>
      </ion-item>
      <ion-item *ngIf="(((errorControl.nome.touched)||(errorControl.nome.dirty))&& errorControl.nome.errors)">
        <span *ngIf="errorControl.nome.errors?.required">
          Nome é obrigatório!
        </span>
      </ion-item>

      <ion-item>
        <ion-label>Carga Horaria</ion-label>
        <ion-input placeholder="cargaHoraria" formControlName="cargaHoraria"></ion-input>
      </ion-item>
      <ion-item
        *ngIf="(((errorControl.cargaHoraria.touched)||(errorControl.cargaHoraria.dirty))&& errorControl.cargaHoraria.errors)">
        <span *ngIf="errorControl.cargaHoraria.errors?.required">
          Carga Horaria é obrigatório!
        </span>
      </ion-item>

      <ion-item>
        <ion-label>Natureza</ion-label>
        <ion-select placeholder="Selecione a Natureza" formControlName="natureza">
          <ion-select-option value="obrigatoria">obrigatória</ion-select-option>
          <ion-select-option value="optativa">optativa</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item
        *ngIf="(((errorControl.natureza.touched)||(errorControl.natureza.dirty))&& errorControl.natureza.errors)">
        <span *ngIf="errorControl.natureza.errors?.required">
          Natureza é obrigatório!
        </span>
      </ion-item>

      <ion-item>
        <ion-label>Data de Inicio</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" presentation="date" formControlName="dataInicio">
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-label>Data de Término</ion-label>
        <ion-datetime-button datetime="datetime2"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime2" presentation="date" formControlName="dataFim">
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-label>Quantidade de vagas</ion-label>
        <ion-input placeholder="Vagas" formControlName="vagas"></ion-input>
      </ion-item>
      <ion-item *ngIf="(((errorControl.vagas.touched)||(errorControl.vagas.dirty))&& errorControl.vagas.errors)">
        <span *ngIf="errorControl.vagas.errors?.required">
          Vagas é obrigatório!
        </span>
      </ion-item>
      
      <ion-radio-group value="online" formControlName="modalidade">
        <ion-label>Modalidade</ion-label>
        <ion-item>
          <ion-label>online</ion-label>
          <ion-radio slot="start" color="success" value="online"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>presencial</ion-label>
          <ion-radio slot="start" color="tertiary" value="presencial"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>hibrido</ion-label>
          <ion-radio slot="start" color="danger" value="hibrido"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item>
        <ion-label>Professor</ion-label>
        <ion-input placeholder="Professor" formControlName="professor"></ion-input>
      </ion-item>
      <ion-item
        *ngIf="(((errorControl.professor.touched)||(errorControl.professor.dirty))&& errorControl.professor.errors)">
        <span *ngIf="errorControl.professor.errors?.required">
          Professor é obrigatório!
        </span>
      </ion-item>

      <ion-button expand="block" type="submit">Cadastrar</ion-button>
    </form>
  </ion-list>
</ion-content>